$buttonColor: #333333;
$white: #ffffff;
$black: #000000;
$heading: #4d4d4d;
$green: #01ff00;
$faintBlack: #2c2c2c;

// Fonts
$font-xsm: 1rem; //16px
$font-sm: 1.125rem; //18px
$font-med: 1.25rem; //20px
$font-lg: 2.5625rem; //25px
$font-xl: 4.125rem; //50px
$font-xxl: 6rem; //80px

// Font Weight

$semiBold: 600;
$medium: 500;
$bold: 700;
$extraBold: 800;

// Font Familes
$Raleway: "Bebas Neue";

// Font type
$italic: italic;
$normal: normal;
